.cart-item_image {
    max-width: 100px;
}

.cart-item_image {
    max-width: 100px;
    height: auto;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item_info {
    padding: 0 15px 0;
}

.cart .standart-icon {
    max-width: 20px;
}

.cart-count {
    background: black;
    color: white;
    border-radius: 100%;
}

.cart .warnings {
    margin-top: 10px
}
   