.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.wrap-grid {
    flex-wrap: wrap;
}

.four-desc-grid {
    width: calc(25% - 12px);
    margin: 0 15px 15px 0;
}

.two-desc-grid {
    width: calc(50% - 8px);
    margin: 0 15px 15px 0;
}

.three-desc-grid {
    width: calc(33% - 9px);
    margin: 0 15px 15px 0;
}

.four-desc-grid:nth-of-type(4n),
.product-images .three-desc-grid:nth-of-type(3n+5),
.two-desc-grid:nth-of-type(2n){
    margin-right: 0;
}